*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background:#8B0000;
	font-size: 1rem;
	/* font-weight: 400; */
	color: #DCDCDC;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 2rem;
	width: 100%;
	height: 6rem;
	background-color: black;
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 100;
}

.headerMenu {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	font-size: 1.5rem;	
	transition: 0.2s;
}
.logoHeader img{
	width: 130px;
	height: 6rem;
    display: flex;
}

.headerMenu a {
	text-decoration: none;
	color: #DCDCDC;
	transition: 0.2s;
	cursor: pointer;
	margin-left: 2em;
	font-size: 25px;
}

.headerLogin {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	transition: 0.2s;
	font-size: 18px;
}

.headerLogin a {
	text-decoration: none;
	cursor: pointer;
	color: #DCDCDC;
	transition: 0.2s;
}

.headerLogin a:hover {
	color: white;
}
.headerLogin a:hover{
	cursor: pointer;
	color: white;
}
 .headerMenu a:hover{
	color: white;
}
.headercel{
	display: none;
}
.sidebar{
	display: none;
}

main {
	display: flex;
	flex-direction: column;

	align-items:center;
	justify-content: center;
	gap: 3rem;
	padding: 2rem 0;


	width: 100%;
}
iframe{
	border: 3px black solid;
	height: 340px;
	width: 90%;
}
.conteiner_1{
	margin-top: 8rem;
	justify-content: space-around;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
}


.filme {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: flex;
	gap: 2em;
	max-width: 300px;
	text-align: center;
}

.filme img{
	width: 100%;
	border-radius: 10px;
	border: 3px solid #F0E68C;
}

.filme h1{
	width: 130%;
	font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color:#8B0000 ;
    -webkit-text-stroke: 1.5px #F0E68C ;
}

.sesh{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;	
	width: 40%;
	color: #F0E68C;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #400000;
	padding: 2em 2em 2em 2em;
	border-radius: 30px;
	border: solid 3px rgba(0, 0, 0, 0.527);
	box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.5);
}

.sesh h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #F0E68C;
}


.filme h1 a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	color: #F0E68C;
	text-decoration: none;	
}

.sesh img{
	width: 22%;
}

footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	width: 100%;
	height: 6rem;
	background-color: black;

	margin-top: 3rem;

}

footer i {
	cursor: pointer;
}

footer h2 {
	color: #8B0000;
	font-weight: bolder;
	font-size: 1.5rem;
}

.iconesRedesSociais {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;


}


.googlePlayIcone {
	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: center;
	gap: 0.5rem;

}
